p {
  padding: 5px;
  color: white;
  font-family: system-ui;
  text-align: center;
  border-radius: 2px;
  border: solid 1px;
}

.info {
  background: #2196f3;
  border-color: #186bad;
}
.error {
  background: #e53935;
  border-color: #86221f;
}
.success {
  background: #4caf50;
  border-color: #306e32;
}
